<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <!-- web2.4中el表达式默认开启 -->
    <display-name>Archetype Created Web Application</display-name>
    <context-param>
        <param-name>email</param-name>
        <param-value>409121961@qq.com</param-value>
    </context-param>

    <listener>
        <listener-class>com.chen.learn.ch04.MyServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.chen.learn.ch09.MySessionLifeLinstener</listener-class>
    </listener>

    <servlet>
        <servlet-name>dispacher</servlet-name>
        <servlet-class>com.chen.learn.ch03.DispacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestInfo</servlet-name>
        <servlet-class>com.chen.learn.ch04.RequestInfoServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>font</servlet-name>
        <servlet-class>com.chen.learn.ch04.FontServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>context</servlet-name>
        <servlet-class>com.chen.learn.ch04.ContextTesterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lifeInit</servlet-name>
        <servlet-class>com.chen.learn.ch04.LifeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>counter</servlet-name>
        <servlet-class>com.chen.learn.ch04.CounterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excep</servlet-name>
        <servlet-class>com.chen.learn.ch04.ExceptionTesterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quesiton</servlet-name>
        <servlet-class>com.chen.learn.ch04.QuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>com.chen.learn.ch05.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>com.chen.learn.ch05.UploadServlet</servlet-class>
        <init-param>
            <param-name>filePath</param-name>
            <param-value>/WEB-INF/classes/ch05</param-value>
        </init-param>
        <init-param>
            <param-name>tempFilePath</param-name>
            <param-value>/WEB-INF/classes/ch05</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>image</servlet-name>
        <servlet-class>com.chen.learn.ch05.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cookie</servlet-name>
        <servlet-class>com.chen.learn.ch05.CookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>com.chen.learn.ch05.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>greet</servlet-name>
        <servlet-class>com.chen.learn.ch05.GreetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>concurrent</servlet-name>
        <servlet-class>com.chen.learn.ch05.ConcurrentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>load</servlet-name>
        <servlet-class>com.chen.learn.ch13.LoadServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispacher</servlet-name>
        <url-pattern>/dispacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestInfo</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>font</servlet-name>
        <url-pattern>/font</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>context</servlet-name>
        <url-pattern>/context</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lifeInit</servlet-name>
        <url-pattern>/life</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>counter</servlet-name>
        <url-pattern>/counter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excep</servlet-name>
        <url-pattern>/excep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quesiton</servlet-name>
        <url-pattern>/question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>image</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cookie</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>greet</servlet-name>
        <url-pattern>/greet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>concurrent</servlet-name>
        <url-pattern>/concurrent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>load</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    
    <!-- web2.3 -->
    <!--<taglib>
        <taglib-uri>/mytaglib</taglib-uri>
        <taglib-location>/WEB-INF/mytaglib.tld</taglib-location>
    </taglib>-->
    <!-- web2.4 -->
    <jsp-config>
        <taglib>
            <taglib-uri>/mytaglib</taglib-uri>
            <taglib-location>/WEB-INF/mytaglib.tld</taglib-location>
        </taglib>
    </jsp-config>

    <!-- 声明对JNDI资源的引用 -->
    <resource-ref>
        <res-ref-name>jdbc/BookDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>


</web-app>
